---
// components/TechnologyCard.astro
const { icon, name, proficiency } = Astro.props;
---

<div class="flex flex-col items-center">
  <img 
    src={icon} 
    alt={name} 
    class="w-16 h-16 hover:scale-110 transition-transform"
  />
  <p class="text-lg mt-4">{name}</p>
  <div class="w-24 bg-gray-300 rounded-full h-3 mt-4">
    <div 
      class="bg-green-500 h-3 rounded-full" 
      style={`width: ${proficiency}%;`}
    ></div>
  </div>
</div>